.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .cardindetails {
    padding: 50px;
    background-color: lightcoral;
  }